# Datasets y archivos grandes
**/data/
**/VOC2012/
**/lightning_logs/

# Archivos de modelos entrenados
*.pth
*.ckpt
*.pt
*.bin

# Archivos temporales y caché
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo